<nav>
    <div class="container">
        <div class="left">
            <a href="/" class="logo">
                <i class="fa-solid fa-suitcase"></i>
                <div>Vaultix</div>
            </a>
            <div class="links">
                <a href="/files">My Files</a>
                <a href="/upload">Upload</a>
            </div>
        </div>
        <div class="right">
            <a href="/profile">
                <i class="fa-solid fa-user"></i>
                <%= name %>
            </a>
        </div>
    </div>
</nav>