<nav>
    <div class="container">
        <% if (filePage) { %>
            <div class="left">
                <a href="/" class="logo">
                    <i class="fa-solid fa-suitcase"></i>
                    <div>VLTX</div>
                </a>
            </div>
            <% } else { %>
                <div class="left">
                    <a href="/" class="logo">
                        <i class="fa-solid fa-suitcase"></i>
                        <div>VLTX</div>
                    </a>
                    <% if (isAuthenticated) { %>
                        <div class="links">
                            <form class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                                <label for="file-input" class="new-file">New File</label>
                                <input id="file-input" type="file" name="file" required />
                                <% if (typeof folder !=='undefined' ) { %>
                                    <input type="hidden" name="folderId" value="<%= folder.id %>">
                                    <% } %>
                            </form>
                            <button class="open-modal-btn">New Folder</button>
                        </div>
                        <% } %>
                </div>
                <% } %>
                    <div class="right">
                        <% if (isAuthenticated) { %>
                            <form action="/log-out" method="post">
                                <button class="log-out-btn" type="submit">Log out</button>
                            </form>
                            <% } else { %>
                                <a href="/login">
                                    Log In
                                </a>
                                <% } %>
                    </div>
    </div>
</nav>