<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/index.css">
    <title>Vaultix</title>
</head>

<body>
    <div class="window">
        <%- include ('./partials/header') %>
            <main>
                <% if (isAuthenticated) { %>
                    <h1 class="upload-file-title">
                        Upload your first file!
                    </h1>

                    <div class="modal" id="folderModal">
                        <div class="modal-content">
                            <span class="close-btn">&times;</span>
                            <form class="create-folder-form" action="/create-folder" method="POST">
                                <h2>Create a Folder</h2>
                                <input type="text" name="folderName" placeholder="Folder name" required />
                                <button type="submit">Create Folder</button>
                            </form>
                        </div>
                    </div>

                    <% } else { %>
                        <div class="get-started">
                            <h1 class="title">The most <span>secure</span> data keeper</h1>
                            <p class="subtitle">With Vaultix, users can securely upload, view and manage their files in
                                an intuitive
                                interface.</p>
                            <a href="/login">Get started for free &rarr;</a>
                        </div>
                        <% } %>
            </main>

            <%- include ('./partials/footer') %>
    </div>

    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/3130acdd01.js" crossorigin="anonymous"></script>
</body>

</html>