footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 8px;
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
}

.footer-logo:hover {
    color: rgba(0, 0, 0, 0.5);
}