nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.container {
    width: 100%;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    gap: 2rem;
}

.right {
    display: flex;
    align-items: center;
}

.right a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.15rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.right a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.right i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    font-weight: 600;
    gap: 8px;
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
}

.logo:hover {
    color: rgba(0, 0, 0, 0.5);
}

.links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form input[type="file"] {
    display: none;
}

.upload-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: black;
    background-color: #e6e6e6;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-circle:hover {
    background-color: #d6d6d6;
}

.links a,
.new-file,
.open-modal-btn {
    border: none;
    background-color: var(--button-color);
    padding: 0.5rem 0.925rem;
    border-radius: 1rem;
    color: black;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.new-file:hover {
    color: rgba(0, 0, 0, 0.5);
}

.links a:hover,
.open-modal-btn:hover {
    color: rgba(0, 0, 0, 0.5);
}

.log-out-btn {
    border: none;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.5rem 0.925rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.log-out-btn:hover {
    color: rgba(0, 0, 0, 0.5);
}